$blue: rgb(0, 110, 255);
$blue-light: rgb(50, 137, 250);
$shadow: 0 0 0.25em rgb(168, 168, 168);
$border: rgb(214, 214, 214) solid 1px;
$background-blue: #79acff;
$test-page-main-color: #00949e;
$alert-color: rgb(185, 72, 72);
$mini-text-color: rgb(128, 128, 128);
