<<<<<<< Updated upstream
=======
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto,sans-serif;
  text-decoration: none;
}
button{
  background-color: transparent;
  border: none;
  outline: none;
}
.row{
  display: flex;
  justify-content: space-between;
}
a{
  color: #333;
}
body{
  background-color: whitesmoke;
}
>>>>>>> Stashed changes
.nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  max-height: 6em;
  width: 100%;
  z-index: 5;
  background-color: transparent;
}
.nav .logo a{
  color: #192a88;
  font-weight: bold;
  margin-left: 20px;
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.logo a span{
  font-size: 20px;
}
.nav.hide{
  transform: translateY(-100%);
  transition: 0.4s;
}
.nav .dropdown {
  margin-right: 3em;
  position: relative;

}
.dropdown a:hover{
  color: #192a88;
}
.nav .dropdown .dropdown-btn{
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 4em;
  display: block;
}
.dropdown-list{
  width: auto;
  z-index: 3;
  display: none;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  background-color: white;
  padding-right: 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
}
.dropdown:hover .dropdown-list{
  display: block;
  opacity: 1;
}
.dropdown-item:first-of-type{
  padding-top: 1em;
}
.dropdown-item{
  min-width: 15em;
  padding-bottom: 1em;
  padding-left: 1em;
  display: block;
  color: #3c3f42;
  font-size: 0.875em;
}
.dropdown-item:hover{
  color: #3988d3;
}
#login-btn{
  height: 3.5em;
  width: 10em;
  color: #192a88;
  border-radius: 2em;
  margin-right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-btn span{
  margin-right: 5px;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}
#login-btn ion-icon{
  color: #192a88;
  font-size: 18px;
}
#login-btn:hover span{
  color: #333;
  font-weight: bold;
  transition: 0.2s;
}



/*banner*/
.banner{
  width: 90%;
  height: 70vh;
  position: relative;
  top: 8em;
  display: flex;
  margin: auto;
}
.banner > .img{
  width: 70%;
  height: 100%;
  object-fit: contain;
  background:url(./img/banner.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.banner .banner_content{
  width: 30%;
  height: 100%;
  background-color: #ecfdff;
}
.banner_text{
  color: #000000;
  display: block;
  margin: auto;
  margin-top: 100px;
  width: 60%;
  font-size: 40px;
  margin-bottom: 30px;
}
.banner_content >p{
  margin:auto;
  width: 60%;
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
}
.banner_content #let_start{
  width: 40%;
  border-radius: 5px;
  background-color: #192a88;
  height: 60px;
  color: white;
  margin:auto;
  display: block;
  margin-left: 20%;
  font-size: 25px;
  font-weight: 700;
  margin-top: 50px;
  transition: 0.3s;
}
#let_start:hover{
  background-color: #ffffff;
  color: #192a88;
  border: 1px solid #192a88;
  transition: 0.3s;
}



/*main content*/
.main{
  margin-top: 300px;
}
.skill{
  width: 100%;
  padding-left: 12.5%;
  padding-right: 12.5%;
  height: 40vh;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
  /* background-color:rgba(209, 244, 255, 0.3); */
}
.skill_card{
  width: 23%;
  height: 45vh;
  position: relative;
  overflow: hidden;
}
.card_name{
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 0;
  top: 0;
}
.card_background{
  width: 100%;
  height: 80%;
  background:#fcf0e0 ;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 2;
  transition: 0.3s;
}
.skill_card:hover .card_background{
  left: -30%;
  transition: 0.3s;
}
.card_discover{
  position: absolute;
  width: 30%;
  height: 80%;
  top:40px;
  right: 0;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_link{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.skill_2{
  background: #ebedfc;
}
.skill_3{
  background: #dcdef7;
}
.skill_4{
  background: #f9e0d6;
}
.card_background ion-icon{
  font-size: 60px;
  background: transparent;
  display: block;
  margin: auto;
}
.test{
  width: 100%;
  position: relative;
}
.slider-container{
  display: flex;
  justify-content: center;
}
.test > .slider-container{
  width: 92%;
  margin: auto;
}
.test-card {
  width: 11.5em;
  height: 16em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 0.25em;
  padding: 0.5em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.test-card:hover{
  background-color: rgba(111, 193, 196, 0.4);
  box-shadow: 0 0 6px rgba(114, 193, 196, 0.5);
}
.test-card > .card-title {
  color: #3c3f42;
  font-size: 1.125em;
  font-weight: 600;
  margin-top: 1em;
  padding-bottom: 0.5em;
}
.test-card > .card-info {
  margin-top: 0.25em;
}
.test-card > .img-container{
  height: 8em;
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 0.25em;
  display: block;
  margin: auto;
}
.test-card img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
.pre-btn, .next-btn{
  top: 40%;
  position: absolute;
  border: none;
  outline: none;
  width: 1.5em;
  height: 5em;
  font-size: 1em;
  border-radius: 0.5em;
  color: black;
}
.pre-btn:hover, .next-btn:hover{
  opacity: 0.5;
}
.pre-btn{
  left: 1em;
}
.next-btn{
  right: 1em;
}
.see-more-btn{
  position: absolute;
  top: 0.5em;
  right: 4%;
  font-weight: 600;
}
.app{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: -100%;
  z-index: 6;
  display: none;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s;
}
.app.active{
  top:0;
  transition: 0.4s;
}
#close_form{
  color: rgb(105, 101, 101);
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 20px;
}
#close_form:hover{
  color: #333;
}
.login_form_title{
  font-weight: 600;
  font-size: 40px;
  display: block;
  color: black;
}
.login_form{
  width: 30%;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  text-align: center;
}
.signup{
  display: none;
}
.login_form input{
  margin-top: 20px;
  height: 50px;
  padding-left: 10px;
  color: black;
  border-radius: 5px;
  border: 1px solid;
}
.login_form #btn_login{
  width:100%;
  background: rgb(81, 183, 187);
  color: #fff;
  height: 50px;
  border-radius: 5px;
  margin-top:30px;
}
#btn_login:hover{
  background:rgb(126, 208, 211) ;
}
.text_form{
  color: #333;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  position: relative;
  border-bottom: 1px solid rgb(172, 168, 168);
  height: 20px;
}
.text_form span{
  display: inline-block;
  position: absolute;
  bottom: -14px;
  padding: 5px 5px;
  margin-left: -15px;
  background: white;
  z-index: 7;
}
.text_form2{
  font-weight: 400;
  border: none;
}
.login_form #google_login_btn{
  width:60%;
  height: 50px;
  border-radius: 5px;
  color:#333;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(212, 25, 25);
  display: block;
  margin: auto;
  margin-top: 20px;
}
#google_login_btn i{
  font-size: 24px;
  color: #fff;
}
#google_login_btn:hover{
  background: red;
}
.login_form div{
  display: block;
  margin: auto;
  margin-top: 25px;
  color: #7b7d80;
  font-size: 14px;
}
.login_form div span{
  color: #3988d3;
  cursor: pointer;
}
.login_form a span:hover{
  color: #58aaf7;
}
.login_form a:hover{
  color: #535457;
}
.footer{
  position: relative;
  height: 65vh;
  width: 100%;
  background: url('./img/footer-bg.jpg');
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  justify-content: space-between;
}
.footer__contact{
  width: 19em;
  height: 22em;
  background: #3c3f42;
  padding-left: 2.5em;
  padding-right: 3.5em;
  padding-top: 2.5em;
  font-weight: 300;
  color: #dededebd;
  border-radius: 0.25em;
}
.footer__contact > .content {
  text-align: justify;
  font-size: 14px;
  margin-top: 1.5em;
  margin-bottom: 2em;
  line-height: 1.5em;
}
.footer__contact > h4 {
  margin-top: 1em;
}
.footer__contact > h4 {
  font-size: 19px;
  font-weight: 200;
}
.footer__contact > h4 > i {
  background-color: #5bc198;
  padding: 0.5em;
  border-radius: 0.25em;
  font-size: 14px;
  margin-right: 1em;
  color: white;
}
.footer__link {
  margin-top: 6em;
}
.footer__link > .link-title {
  color: #5bc198;
  font-size: 1.125em;
  margin-bottom: 1em;
}
.footer__link > a:first-of-type{
  margin-top: 2em;
}
.footer__link > a{
  display: block;
  text-decoration: none;
  color: #dededebd;
  font-size: 13px;
  margin-bottom: 1.5em;
  font-weight: 300;
}
.footer__link > a:hover{
  color: #5bc198;
}
.footer__link > a > i{
  margin-right: 1em;
}
.footer__link > .footer-button{
  width: 11em;
  height: 3.5em;
  background-color: transparent;
  color: #5bc198;
  border: #5bc198 1.5px solid;
  border-radius: 0.25em;
  margin-bottom: 1em;
  display: block;
}
.footer__link > .footer-button:hover{
  box-shadow: 0 0 8px rgba(48, 134, 8, 0.8);
}
.footer__link > .visit-btn{
  background-color: #5bc198;
  border: none;
  color: white;
  border-radius: 0.25em;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}
.line {
    height: 0.25em;
    background: #3c3f42;
}