.test-page {
  background: white;
  margin: auto;
  padding: 0;
  display: flex;
  max-width: unset !important;
  .section {
    width: 55vw;
    height: calc(100vh - 152px);
    padding: 2em 1.5em;
    overflow-y: scroll;
    display: none;
    h4 {
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #327847;
      font-size: 13px;
    }
  }
  .section.listening {
    height: calc(100vh - 100px);
  }
  .section.active {
    display: block;
  }
  .section-control {
    padding: 12px 30px;
    background-color: #d4dae0;
    position: fixed;
    bottom: 50px;
    right: 0;
    width: 55vw;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      color: #327847;
      height: fit-content;
    }
    .row {
      width: fit-content;
      button {
        background: #327847;
        color: white;
        font-weight: 700;
        padding: 5px 20px;
        letter-spacing: 1px;
        margin-left: 15px;
        border-radius: 6px;
      }
      button.disable {
        color: rgb(97, 97, 97);
        background: #aaa;
        user-select: none;
      }
    }
  }
  .section-control.listening {
    right: 0;
    width: 45vw;
    h4 {
      color: #5bc3d2;
    }
    .row {
      width: fit-content;
      button {
        background: #5bc3d2;
        color: white;
      }
      button.disable {
        color: rgb(97, 97, 97);
        background: #aaa;
        user-select: none;
      }
    }
  }
  .question {
    h3 {
      color: #284664;
      font-size: 20px;
      font-weight: 700;
      margin: 15px 0;
    }
    .answers {
      width: 30px;
      height: 30px;
      display: flex;
      font-weight: 700;
      align-items: center;
      justify-content: center;
      color: #333;
      background: #dedede;
      border-radius: 100%;
      font-size: 14px;
      margin-right: 10px;
    }
    .number {
      width: 30px;
      height: 30px;
      display: flex;
      font-weight: 700;
      align-items: center;
      justify-content: center;
      color: whitesmoke;
      background: #327847;
      border-radius: 100%;
      font-size: 14px;
      margin-right: 10px;
    }
    .row {
      width: fit-content;
      justify-content: unset;
      align-items: center;
      margin: 10px 0;
    }
    .guild {
      font-style: italic;
    }
    .result {
      label {
        display: block;
      }
      strong {
        font-size: 18px;
        margin-right: 10px;
        min-width: 20px;
        display: inline-block;
      }
      .true {
        color: #008327;
      }
      .false {
        color: #e90606;
      }
    }
    .explain {
      button {
        color: #327847;
        border-radius: 4px;
        font-size: 14px;
        padding: 4px 8px;
        border: 1px solid #327847;
        margin-right: 10px;
      }
    }
    input {
      font-size: 16px;
      font-weight: 600;
      color: #282828;
    }
  }
  .question.matching {
    select {
      min-width: 100px;
      max-width: 130px;
      border-radius: 2px;
      border: 1px solid #aaa;
      margin: 0px 5px;
      outline: none;
      height: 24px;
      font-size: 16px;
      margin-right: 10px;
    }
  }
  .question.multiple-choice {
    input {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
  }
  .question.multiple-choice-question-answers {
    input {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
    .content {
      margin-top: 10px;
    }
  }
  .question.single-choice-question-answers {
    input {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    .guild {
      margin-bottom: 15px;
    }
    .result {
      display: flex;
      align-items: center;
      strong {
        margin-left: 10px;
      }
      .row {
        margin: 0;
      }
    }
  }
  .question.sentence-completion {
    .guild {
      margin-bottom: 10px;
    }
    .content {
      margin: 20px 0;
    }
    input {
      border-bottom: 2px dashed $sub-text-color;
      color: $sub-text-color;
    }
    .result {
      display: flex;
      align-items: center;
      strong {
        font-size: 16px;
        margin-left: 10px;
      }
      .row {
        margin: 0;
      }
    }
  }
  .question.true-false-question {
    select {
      width: 120px;
      border-radius: 2px;
      border: 1px solid #aaa;
      margin: 0px 5px 0 0;
      outline: none;
      height: 24px;
      font-size: 16px;
      margin-right: 10px;
    }
    .content {
      width: calc(100% - 130px);
    }
    .row {
      margin: 20px 0;
    }
    .table {
      border: 2px solid rgb(170, 170, 170);
      margin-top: 15px;
      .row {
        margin: 0;
        padding: 10px 25px;
        width: 100%;
      }
      .odd {
        background: #f0f0f0;
      }
      span {
        font-weight: 700;
        color: #282828;
        display: block;
        width: 120px;
      }
    }
    .result {
      display: flex;
      align-items: center;
      strong {
        font-size: 16px;
        margin-left: 10px;
      }
      .row {
        margin: 0;
      }
    }
  }
  .question.complete-diagram {
    img {
      max-width: 100%;
      object-fit: contain;
      margin: 10px 0;
    }
    input {
      border-bottom: 2px dashed $sub-text-color;
      color: $sub-text-color;
    }
    .result {
      strong {
        margin-left: 10px;
      }
    }
  }
  .question.complete-table {
    table {
      margin-top: 15px;
      border-collapse: collapse;
    }
    th,
    td {
      min-width: 180px;
      padding: 5px;
      border: 1px solid $sub-text-color;
    }
    th {
      background: #cacaca;
    }
    input {
      border-bottom: 2px dashed $sub-text-color;
      color: $sub-text-color;
    }
    .row {
      .content {
        width: calc(100% - 40px);
      }
    }
    .result {
      strong {
        margin-left: 10px;
      }
    }
  }
  .question.complete-paragraph {
    width: 100%;
    input {
      border-bottom: 2px dashed $sub-text-color;
      color: $sub-text-color;
    }
    .wrapper {
      margin-top: 15px;
      padding: 15px;
      border: 2px solid #284664;
    }
    .title {
      text-align: center;
      color: #284664;
      font-size: 20px;
      margin-bottom: 5px;
    }
    .content {
      line-height: 2em;
    }
    .true-answers {
      margin-left: 10px;
    }
  }
}
.top,
.bottom {
  height: 50px;
  background: #284664;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
}
.top {
  button {
    background: white;
    width: 100px;
    padding: 8px 0;
    border-radius: 8px;
    height: fit-content;
    color: #327847;
    font-weight: 700;
  }
  .timer {
    font-weight: 700;
    font-size: 24px;
    color: whitesmoke;
    letter-spacing: 1px;
    i {
      color: #d6e4da;
    }
  }
}
.bottom {
  background: white;
  border-bottom: 1px solid #ebebeb;
  button {
    height: 28px;
    width: 155px;
    color: #7d90a0;
    background: #f0f0f0;
    font-weight: bold;
    border: 1px solid #d4dae0;
    border-radius: 4px;
  }
  h4 {
    font-weight: 500;
    color: #7d90a0;
    font-size: 18px;
  }
}
.paragraph-display,
.script-display {
  background: #d6e4da;
  padding: 1em 30px;
  width: 45%;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  h2,
  .paragraph-content {
    font-family: "Nunito", "Helvetica Neue", "Roboto", Helvetica, Arial,
      sans-serif;
  }
  h2 {
    color: #284664;
    text-align: center;
  }
  .paragraph-content {
    line-height: 1.5;
    color: #282828;
    text-align: justify;
  }
  .high-light {
    background: #f9a957;
    color: #282828;
  }
  strong {
    background: #fc8b1b;
    padding: 0 6px;
    color: #282828;
  }
  strong.active {
    background: #327847;
    color: white;
  }
}
.script-display {
  padding: 0;
  position: relative;
  padding: 90px 0 60px;
  background: #d6f0f4;
  .paragraph-content {
    padding: 0 20px;
    line-height: 1.5em;
    margin: 10px 0;
  }
  .row {
    justify-content: unset;
  }
  .audio {
    background: #d6f0f4;
    display: block;
    position: fixed;
    width: 45vw;
    right: 0;
    top: 50px;
  }
  .play-btn {
    width: 90px;
    height: 45px;
    color: white;
    background: #5bc3d2;
    border-radius: 0;
    img {
      width: 20px;
      height: 20px;
    }
  }
  .avt {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 85px;
    width: 100%;
    height: calc(100% - 90px);
    object-fit: cover;
  }
  .time {
    margin: 0;
    width: 80px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #84d1dd;
    line-height: 44px;
    border-bottom: 1px solid #5bc3d2;
    border-top: none;
  }
  .progress-container {
    display: flex;
    align-items: center;
    width: calc(45vw - 250px);
    height: 45px;
    border-bottom: 1px solid #5bc3d2;
  }
  .forward-btn {
    height: 40px;
    width: 60px;
  }
  .forward-container {
    border-right: 1px solid #5bc3d2;
    padding: 0 20px;
  }
  .action {
    border-bottom: 1px solid #5bc3d2;
  }
  .volume-container {
    display: flex;
    align-items: center;
    button {
      height: 40px;
      width: 60px;
    }
    .range {
      width: 100px;
      border: none;
      --seek-before-width: 80;
      background: whitesmoke;
      outline: none;
      position: relative;
      appearance: none;
      height: 8px;
    }
    .range::before {
      content: "";
      height: 8px;
      width: 80px;
      background-color: #5bc3d2;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
    }
    .range::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      border: none;
      background-color: #5bc3d2;
      cursor: pointer;
      position: relative;
      margin: 0px 0 0 0;
      z-index: 3;
      box-sizing: border-box;
    }
  }
}
.custom-scroll::-webkit-scrollbar,
.section::-webkit-scrollbar {
  width: 10px;
}
.custom-scroll::-webkit-scrollbar-track,
.section::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb,
.section::-webkit-scrollbar-thumb {
  background: rgb(168, 168, 168);
  border-radius: 0px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover,
.section::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 95, 95);
}
.test_card {
  width: 20%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 1em;
  position: relative;
  .card_container {
    box-shadow: 0 0 6px 0 rgb(156, 156, 156);
    border-radius: 2px;
    overflow: hidden;
    .img-container {
      display: block;
      position: relative;
      margin: auto;
      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .img-container {
      width: 100%;
      padding-top: 90%;
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: 50% 50%;
      }
    }
    .name {
      color: #333;
      font-size: 16px;
      line-height: 1.25em;
      padding: 0 5px;
      height: 2.5em;
      font-weight: bold;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      margin-top: 5px;
    }
    .level {
      font-size: 14px;
      position: absolute;
      top: 0;
      right: 8px;
      padding: 0.25em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      color: white;
      background: $test-page-main-color;
      border-top-right-radius: 0.25em;
    }
    .time {
      margin: 5px 0 15px;
      font-size: 15px;
      color: $sub-text-color;
      text-align: center;
    }
  }
  .card_container:hover {
    box-shadow: 0 0 8px 0 rgb(122, 122, 122);
  }
}
.list-test-page {
  margin: 1em auto;
  min-height: calc(100vh - 6em);
  padding: 0 1em;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .row {
    border-bottom: rgb(117, 117, 117) solid 1px;
    align-items: center;
    margin: 1em 0;
    padding-bottom: 1em;
  }
  span {
    font-size: 20px;
    color: $test-page-main-color;
    font-weight: bold;
  }
  button {
    width: 8em;
    margin: 0 0.5em;
    height: 2.55em;
    background: rgb(117, 117, 117);
    border-radius: 0;
    color: white;
  }
  button:hover,
  button.active {
    background: $test-page-main-color;
  }
  .list-tests {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .test-page {
    margin-top: 1em;
    flex-wrap: wrap;
    width: 100%;
    .main-view {
      width: 100%;
      padding: 1em;
      .action {
        margin-top: 1em;
      }
    }
    .sub-view {
      width: 100%;
    }
  }
  .test_card {
    width: 50%;
  }
  .list-test-page {
    margin-left: 0;
    margin-right: 0;
    .row {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      flex-direction: column;
      .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        button {
          margin-top: 0.5em;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .test-page {
    flex-wrap: wrap;
    width: 90%;
    .main-view {
      width: 100%;
      padding: 1em;
    }
    .sub-view {
      width: 100%;
    }
  }
  .test_card {
    width: 33.3333%;
  }
  .list-test-page {
    margin-left: 0;
    margin-right: 0;
    .row {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .test-page {
    width: 100%;
    .main-view {
      padding-left: 0;
      padding-right: 0;
    }
    .sub-view {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .test_card {
    width: 25%;
  }
}

.audioPlayer {
  --primary: #f40082;
  --secondary: #ffd200;

  align-items: center;
  display: flex;
  width: 700px;
}

.playPause {
  background: var(--primary);
  border: none;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 32px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  position: relative;
  left: 5px;
}

.currentTime,
.duration {
  font-family: monospace;
  font-size: 16px;
}

.currentTime {
  margin-left: 25px;
}

.progressBar {
  --bar-bg: whitesmoke;
  --seek-before-width: 0;
  --seek-before-color: #5bc3d2;
  --knobby: #5bc3d2;
  --selectedKnobby: #5bc3d2;

  appearance: none;
  background: var(--bar-bg);
  position: relative;
  width: 100%;
  height: 8px;
  outline: none;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  position: relative;
  width: 100%;
  height: 8px;
  outline: none;
}
/* progress bar - firefox */
.progressBar::-moz-range-track {
  background: var(--bar-bg);
  position: relative;
  width: 100%;
  height: 8px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
  content: "";
  height: 8px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -3px 0 0 -2px;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}
