.banner {
  width: 100%;
  height: fit-content;
  position: relative;
  .img-container {
    display: block;
    width: 100%;
    padding-top: 23.5%; /* 1:1 Aspect Ratio */
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .mobile-display {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    .img-container {
      padding-top: 37.5%;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .banner > div {
    box-shadow: inset 0 0 10em black;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner > div {
    box-shadow: inset 0 0 15em black;
  }
}

@media only screen and (max-height: 450px) {
}
