.toeic-info {
  height: calc(100vh - 6em);
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  .tab-container {
    width: calc(25% - 1em);
    background: white;
    padding: 1em;
    button {
      display: block;
      height: 2.5em;
      font-size: 18px;
      width: 90%;
      margin: auto;
      border-bottom: 1px #333 solid;
      border-radius: 0;
    }
    button:hover {
      background: $test-page-main-color;
      color: white;
    }
    .button-active {
      background: $test-page-main-color;
      color: white;
    }
  }
  .info-container {
    overflow-y: scroll;
    width: 75%;
    margin-left: 1em;
    height: 100%;
    background: white;
    padding: 1em;
    position: relative;
    .toeic-location,
    .toeic-outcome,
    .toeic-procedures-process {
      background: white;
      width: 100%;
    }
    .toeic-location {
      b {
        display: block;
        margin-top: 1em;
      }
    }
    h2 {
      text-align: center;
    }
    h3 {
      color: $test-page-main-color;
      margin-top: 1em;
      font-size: 20px;
    }
  }
  .info-container::-webkit-scrollbar {
    display: none;
  }
  .info-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media only screen and (max-width: 600px) {
  .toeic-info {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0em;
    padding-right: 0em;
    display: flex;
    flex-direction: column;
    .tab-container {
      background: white;
      width: 100%;
      padding: 0em;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      button {
        display: inline-block;
        height: 2.5em;
        width: fit-content;
        border-bottom: none;
        background: rgb(122, 122, 122);
        color: white;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-top: 0.5em;
      }
    }
    .info-container {
      overflow-y: scroll;
      width: 100%;
      margin-left: 0em;
      height: 100%;
      background: white;
      padding: 1em;
      position: relative;
      .toeic-location,
      .toeic-outcome,
      .toeic-procedures-process {
        background: white;
        width: 100%;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .toeic-info {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    .tab-container {
      background: white;
      width: 100%;
      padding: 1em;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      button {
        display: inline-block;
        height: 2.5em;
        width: fit-content;
        border-bottom: none;
        background: rgb(122, 122, 122);
        color: white;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-top: 0.5em;
      }
    }
    .info-container {
      overflow-y: scroll;
      width: 100%;
      margin-left: 0em;
      height: 100%;
      background: white;
      padding: 1em;
      position: relative;
      .toeic-location,
      .toeic-outcome,
      .toeic-procedures-process {
        background: white;
        width: 100%;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .toeic-info {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0em;
    padding-right: 0em;
    display: flex;
    .tab-container {
      background: white;
      width: calc(30% - 1em);
      padding: 1em;
    }
    .info-container {
      overflow-y: scroll;
      width: 70%;
      margin-left: 1em;
      height: 100%;
      background: white;
      padding: 1em;
      position: relative;
      .toeic-location,
      .toeic-outcome,
      .toeic-procedures-process {
        background: white;
        width: 100%;
      }
    }
  }
}
