.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.2);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  .info-popup {
    background-color: white;
    form {
      width: auto !important;
      max-width: 100vw;
      display: block !important;
      box-shadow: 0 0 2px 0 rgb(117, 117, 117);
      min-height: 420px;
      padding: 1em;
      button {
        width: 5em;
        height: 2.25em;
        font-size: 1em;
        margin: auto;
        margin-top: 1em;
        display: block;
        color: white;
        background: rgb(0, 128, 187);
      }
      button.cancel-btn {
        background-color: $alert-color;
      }
      h3 {
        text-align: center;
      }
      input {
        display: block;
        height: 2.5em;
        line-height: 2.5em;
        width: 100%;
        padding-left: 0.5em;
      }
      input[type="checkbox"] {
        height: 1.25em;
        line-height: 1.25em;
        width: 1.25em;
        display: block;
        margin-right: 1em;
        margin-left: 1.5em;
      }
      input[type="file"] {
        width: 15em;
        height: auto;
        line-height: normal;
      }
      input[type="text"],
      input[type="number"] {
        border: 1px solid #333;
      }
      label {
        display: block;
      }
      .col {
        padding-left: 0.5em;
        padding-right: 0.5em;
        width: 300px;
      }
      > div > div > label {
        height: 2.25em;
        line-height: 2.25em;
      }
      .row {
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 0.25em;
      }
      > .row {
        margin-top: 0.5em;
      }
    }
  }
  .confirm-popup {
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    background: white;
    border-radius: 0.25em;
    max-width: 100vw;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5em;
    text-align: center;
    .confirm-btn,
    .cancel-btn {
      width: 5em;
      height: 2.5em;
      color: white;
      margin-top: 1em;
    }
    .confirm-btn {
      background-color: $test-page-main-color;
    }
    .cancel-btn {
      background-color: $alert-color;
      margin-left: 0.5em;
    }
  }
  .status-popup {
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    background: white;
    border-radius: 0.25em;
    max-width: 100vw;
    min-width: 300px;
    min-height: 200px;
    line-height: 1.5em;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      width: 5em;
      height: 2.5em;
      background: $test-page-main-color;
      color: white;
      margin-top: 1em;
      display: block;
    }
  }
  .score-popup {
    display: none;
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 0.25em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    position: relative;
    button {
      top: 20px;
      right: 20px;
      position: absolute;
      width: 1.75em;
      height: 1.75em;
      border-radius: 0.25em;
      background: #ff6666;
      color: white;
    }
    > div {
      cursor: pointer;
      width: 6em;
      height: 2.5em;
      border: 1px #333 solid;
      text-align: center;
      line-height: 2.5em;
      border-radius: 0.25em;
      margin-top: 2em;
      font-size: 0.75em !important;
    }
    span {
      margin-top: 1em;
      width: 7em;
      height: 7em;
      line-height: 7em;
      font-weight: lighter;
      text-align: center;
      border-radius: 100%;
      background: $test-page-main-color;
      color: white;
      display: block;
    }
  }
}

.loading_page {
  height: calc(100vh - 6em);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 10em;
    display: block;
    margin: auto;
  }
  div {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .info-popup {
    height: auto;
    max-height: 100vh;
  }
}
