.test-page {
  width: 90%;
  background: white;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  .main-view {
    padding: 1em;
    width: 65%;
    .list-part {
      margin-top: 1.5em;
      display: flex;
      div {
        width: 6.5em;
        height: 3em;
        line-height: 3em;
        text-align: center;
        background: rgb(219, 219, 219);
        font-size: 14px;
        margin-right: 0.5em;
        color: #333;
        cursor: pointer;
      }
      .part-active {
        background: $test-page-main-color;
        color: white;
      }
    }
    h2 {
      font-size: 22px;
    }
    .part-direction {
      border: 1px rgb(197, 197, 197) solid;
      width: 100%;
      line-height: 1.25em;
      font-weight: bold;
      font-size: 15px;
      padding: 0.5em;
      margin-top: 1em;
    }
    img {
      width: 420px;
      max-width: 100%;
      margin: auto;
      margin-top: 2em;
      display: block;
    }
    audio {
      margin: auto;
      margin-top: 0.5em;
      display: block;
      width: 300px;
    }
    span {
      margin-top: 1em;
      font-weight: bold;
      font-size: 15px;
    }
    .content-display {
      margin-top: 1em;
      margin-bottom: 1em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    .answers-display {
      margin-left: 1em;
      margin-top: 0.5em;
    }
    .answer {
      display: flex;
      align-items: center;
    }
    .true-answer {
      font-weight: bold !important;
      color: rgb(0, 216, 169);
    }
    .false-answer {
      color: #ff6666;
    }
    .answer span {
      font-weight: normal;
      margin-top: 0.5em;
      margin-left: 0.5em;
      max-width: calc(100% - 2.75em);
    }
    .answer button {
      margin-top: 0.5em;
      height: 1.75em;
      width: 1.75em;
      border-radius: 100%;
      border: $border;
      line-height: 1.75em;
      text-align: center;
      font-size: 14px;
      color: rgb(105, 105, 105);
    }
    .answer button:hover {
      background: rgb(104, 104, 104);
      color: white;
    }
    .answer-active {
      background: rgb(104, 104, 104);
      color: white !important;
    }
    .action {
      width: fit-content;
      margin: auto;
      #submitBtn {
        width: 6em;
        height: 2.75em;
        border: $border;
        background: $test-page-main-color;
        color: white;
      }
      #nextBtn {
        margin-left: 1em;
        width: 6em;
        height: 2.75em;
        border: $border;
      }
      #prevBtn {
        margin-right: 1em;
        width: 6em;
        height: 2.75em;
        border: $border;
      }
    }
    .explanation-display {
      width: 100%;
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 15px;
      padding: 0.5em;
      border: 1px rgb(197, 197, 197) solid;
      div {
        line-height: 1.5em;
      }
    }
  }
  .sub-view {
    width: 35%;
    padding: 1em;
    .timer {
      position: -webkit-sticky;
      position: sticky;
      top: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $test-page-main-color;
      color: white;
      padding: 0.5em;
      div {
        text-align: center;
      }
      span {
        font-size: 22px;
        font-weight: lighter;
      }
    }
    .redo,
    .submit {
      cursor: pointer;
    }
    .list-question {
      position: -webkit-sticky;
      position: sticky;
      top: 4em;
      padding: 0.5em;
      display: flex;
      flex-wrap: wrap;
      .auto-padding {
        padding: calc(50% - 1em);
      }
      button {
        display: block;
        line-height: 100%;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: $border;
      }
      button:hover {
        background: rgb(104, 104, 104);
        color: white;
      }
      .question-active {
        background: rgb(104, 104, 104);
        color: white;
      }
      .question-wrong {
        border: 1px solid #e25959;
      }
      .question-true {
        border: 1px solid rgb(0, 182, 142);
      }
    }
  }
}

.test_card {
  width: 20%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 1em;
  position: relative;
  .card_container {
    box-shadow: 0 0 4px 0 #333;
    padding-bottom: 1em;
    img {
      width: 100%;
      object-fit: contain;
    }
    .name {
      color: #333;
      margin-top: 0.5em;
      margin-left: 0.5em;
      margin-right: 0.5em;
      font-size: 14px;
      height: 2.25em;
      font-weight: bold;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .level {
      font-size: 14px;
      position: absolute;
      top: 0;
      right: 0.5em;
      padding: 0.25em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      color: white;
      background: $test-page-main-color;
      border-radius: 0.25em;
      border-top-right-radius: 0;
    }
    .time {
      margin-top: 0.25em;
      margin-left: 0.5em;
      margin-right: 0.5em;
      font-size: 14px;
      color: $mini-text-color;
    }
  }
}

.list-test-page {
  min-height: calc(100vh - 6em);
  margin: 1em;
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .row {
    min-height: 3em;
    border-bottom: rgb(117, 117, 117) solid 1px;
    margin-bottom: 1em;
  }
  span {
    font-size: 20px;
    color: $test-page-main-color;
    font-weight: bold;
  }
  button {
    width: 8em;
    height: 2.55em;
    margin-left: 1em;
    background: rgb(117, 117, 117);
    border-radius: 0;
    color: white;
  }
  button:hover {
    background: $test-page-main-color;
  }
  .list-tests {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .test-page {
    margin-top: 1em;
    flex-wrap: wrap;
    width: 100%;
    .main-view {
      width: 100%;
      padding: 1em;
      .action {
        margin-top: 1em;
      }
    }
    .sub-view {
      width: 100%;
    }
  }
  .test_card {
    width: 50%;
  }
  .list-test-page {
    margin-left: 0;
    margin-right: 0;
    .row {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      flex-direction: column;
      .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        button {
          margin-top: 0.5em;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .test-page {
    flex-wrap: wrap;
    width: 90%;
    .main-view {
      width: 100%;
      padding: 1em;
    }
    .sub-view {
      width: 100%;
    }
  }
  .test_card {
    width: 33.3333%;
  }
  .list-test-page {
    margin-left: 0;
    margin-right: 0;
    .row {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .test-page {
    width: 100%;
    .main-view {
      padding-left: 0;
      padding-right: 0;
    }
    .sub-view {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .test_card {
    width: 25%;
  }
}
