@import "./variable";
@import "./base";
@import "./textError";
@import "./login";
@import "./nav";
@import "./banner";
@import "./footer";
@import "./listSkills";
@import "./test";
@import "./popup";
@import "./home";
@import "./info";
@import "./discussionsSection";
@import "./discussion";
@import "./discussionDetailCard";
@import "./discussionForm";
@import "./discussionCard";
@import "./floatingButton";
@import "./admin";
@import "./profile";
.App {
  width: 100vw;
  height: 100vh;
  position: relative;
}
